<div>
  <div>
    <h2 *ngIf="productLists">Displaying {{ productLists.length }} products</h2>
  </div>

  <table mat-table [dataSource]="productLists" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="tracking_no">
      <th mat-header-cell *matHeaderCellDef>Tracking number</th>
      <td mat-cell *matCellDef="let element">{{ element.tracking_no }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="place_of_booking">
      <th mat-header-cell *matHeaderCellDef>Place of booking</th>
      <td mat-cell *matCellDef="let element">{{ element.place_of_booking }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="pobox_no">
      <th mat-header-cell *matHeaderCellDef>PO Box number</th>
      <td mat-cell *matCellDef="let element">{{ element.pobox_no }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef>To</th>
      <td mat-cell *matCellDef="let element">{{ element.to }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef>From</th>
      <td mat-cell *matCellDef="let element">{{ element.from }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="datetime">
      <th mat-header-cell *matHeaderCellDef>Date & Time</th>
      <td mat-cell *matCellDef="let element">{{ element.datetime }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['../view', element.id]">View</a> |
        <a [routerLink]="['../edit', element.id]">Edit</a> |
        <a [routerLink]="['../delete', element.id]">Delete</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
